.pixelTextarea {
  @apply w-full p-2 text-base min-h-[100px] resize outline-none;
  background-color: var(--custom-bg, var(--textarea-bg, var(--bg-textarea)));
  color: var(--custom-text, var(--textarea-text, var(--text-textarea)));
  border-style: solid;
  box-shadow: 2px 2px 0 2px
      var(--custom-bg, var(--textarea-bg, var(--bg-textarea))),
    -2px -2px 0 2px var(--custom-bg, var(--textarea-bg, var(--bg-textarea)));
  border-width: 5px;
  border-image-slice: 3;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-outset: 2;
}

.pixelTextarea:focus {
  @apply outline-none;
}
