@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: theme("colors.primary.bg");
  --primary-text: theme("colors.primary.text");
  --primary-shadow: theme("colors.primary.shadow");
  --secondary-bg: theme("colors.secondary.bg");
  --secondary-text: theme("colors.secondary.text");
  --secondary-shadow: theme("colors.secondary.shadow");
  --outline-text: theme("colors.outline.text");
  --primary-bg-dropdown: white;
  --primary-bg-dropdown: #ffffff;
  --outline-text: #000000;

  /* textarea */
  --bg-textarea: #f0f0f0;
  --text-textarea: #000000;
  --border-textarea-rgb: 0, 0, 0;

  /* progressbar */
  --color-progressbar: #000000;
  --border-progressbar: #000000;

  /* input */
  --bg-input: white;
  --text-input: black;
  --border-input: black;

  /* card */
  --bg-card: white;
  --text-card: black;
  --border-card: #000000;
  --shadow-card: #767676;

  /* dropdown */
  --bg-dropdown: transparent;
  --text-dropdown: #000000;
  --border-dropdown: #000000;

  /* popup */
  --bg-popup-base: white;
  --bg-popup: #f0f0f0;
  --text-popup: black;
}

body {
  font-family: "Minecraft", sans-serif;
}
