.pixelCard {
  @apply m-2 border-solid border-[5px] font-minecraft text-base p-4;
  background-color: var(--card-custom-bg, var(--bg-card, white));
  color: var(--card-custom-text, var(--text-card, black));
  border-image-slice: 3;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-outset: 2;
  box-shadow: 2px 2px 0 2px
      var(--card-custom-shadow, var(--shadow-card, #000000)),
    -2px -2px 0 2px var(--card-custom-bg, var(--bg-card, white));
  border-color: var(--card-custom-border, var(--border-card, #000000));
}
