/* Input styles for Storybook */
.pixelContainer {
  position: relative;
  display: inline-block;
  border-style: solid;
  border-width: 5px;
  margin: 0.5rem 0.25rem;
  background-color: var(--input-custom-bg, var(--bg-input, white));
  color: var(--input-custom-text, var(--text-input, black));
  border-image-slice: 3;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-outset: 2;
  font-size: 16px;
  box-shadow: 2px 2px 0 2px var(--input-custom-bg, var(--bg-input, white)),
    -2px -2px 0 2px var(--input-custom-bg, var(--bg-input, white));
  border-color: var(--input-custom-border, var(--border-input, black));
}

.pixelInput {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  width: 100%;
  padding-right: 1.75rem;
  font-family: "Minecraft", sans-serif;
  color: inherit;
}

.pixelInput:focus {
  outline: none;
}

.pixelInputIconButton {
  padding: 0.25rem;
  margin-right: 0.25rem;
  position: absolute;
  right: 0;
  top: 0;
}

.pixelInputIconButton:active {
  top: 2px;
}
