@font-face {
  font-family: "Minecraft";
  src: url("./fonts/Minecraft.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-bg: theme("colors.primary.bg");
  --primary-text: theme("colors.primary.text");
  --primary-shadow: theme("colors.primary.shadow");
  --secondary-bg: theme("colors.secondary.bg");
  --secondary-text: theme("colors.secondary.text");
  --secondary-shadow: theme("colors.secondary.shadow");
  --outline-text: theme("colors.outline.text");
  --card-text-color: theme("colors.outline.text");
  --primary-bg-dropdown: white;
}

body {
  font-family: "Minecraft", sans-serif;
}

/* You can add more global styles here if needed */
