.pixelProgressbarContainer {
  @apply relative min-w-[100px] border-solid border-[5px];
  border-image-slice: 3;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M3 1h1v1h-1zM4 1h1v1h-1zM2 2h1v1h-1zM5 2h1v1h-1zM1 3h1v1h-1zM6 3h1v1h-1zM1 4h1v1h-1zM6 4h1v1h-1zM2 5h1v1h-1zM5 5h1v1h-1zM3 6h1v1h-1zM4 6h1v1h-1z" fill="rgb(0,0,0)"/></svg>');
}

.pixelProgressbar {
  @apply h-full opacity-50;
}

.pixelProgressbarPercentage {
  @apply relative mt-1 font-minecraft text-xs text-right;
  color: theme("colors.gray.800");
}

/* Size variants */
.pixelProgressbarSm {
  @apply h-5 p-0.5;
}

.pixelProgressbarMd {
  @apply h-8 p-0.5;
}

.pixelProgressbarLg {
  @apply h-10 p-1;
}

/* Color variants */
.pixelProgressbarPrimary {
  @apply bg-blue-500;
}

.pixelProgressbarSecondary {
  @apply bg-gray-500;
}
