.pixel-progressbar-container {
  position: relative;
  /* width: 100%; */
  height: 30px;
  padding: 2px 2px;
  min-width: 100px;
  border-style: solid;
  border-width: 5px;
  border-image-slice: 3;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M3 1h1v1h-1zM4 1h1v1h-1zM2 2h1v1h-1zM5 2h1v1h-1zM1 3h1v1h-1zM6 3h1v1h-1zM1 4h1v1h-1zM6 4h1v1h-1zM2 5h1v1h-1zM5 5h1v1h-1zM3 6h1v1h-1zM4 6h1v1h-1z" fill="rgb(0,0,0)"/></svg>');
  /* box-shadow: 0 0 0 4px #c381b5; */
}

.pixel-progressbar {
  height: 100%;
  background-color: var(--primary-bg);
  opacity: 50%;
}

.pixel-progressbar-percentage {
  position: relative;
  margin-top: 5px; /* Adjust spacing as needed */
  font-family: "Minecraft", sans-serif;
  color: var(--outline-text); /* Text color */
  font-size: 12px; /* Font size */
  text-align: right; /* Align text to the right */
}
