.pixelProgressbarContainer {
  @apply relative w-full;
  height: 30px;
  padding: 2px;
  border-style: solid;
  border-width: 5px;
  border-image-slice: 3;
  border-image-width: 2;
  border-image-repeat: stretch;
  background-color: transparent;

  border-color: var(
    --progressbar-custom-border-color,
    var(--border-progressbar, #000000)
  );
}

.pixelProgressbar {
  @apply h-full;
  opacity: 50%;
  background-color: var(
    --progressbar-custom-color,
    var(--color-progressbar, #000000)
  );
}

/* Sizes */
.pixelProgressbarSm {
  height: 20px;
}

.pixelProgressbarMd {
  height: 30px;
}

.pixelProgressbarLg {
  height: 40px;
}
